<nav class="navbar navbar-inverse">
  <h1> Book A Flight </h1>
</nav>

<div class="container">
  <div class="row">
    <div class ="col-md-12">

      <%= form_tag("", method: "get")  do %>
          <% default_to = params[:to_airport_id] %>
          <% if params[:to_airport_id] == nil %>
            <% default_to = "Heathrow" %>
          <% end %>
          <%= label_tag(:from_airport_id, "from ")%> <br>
          <%= select_tag(:from_airport_id, options_for_select(@airports, params[:from_airport_id]), class:"destination-select", id:"from-airport", include_blank: true) %> <br>

          <%= label_tag(:to_airport_id, "to ") %> <br>
          <%= select_tag(:to_airport_id, options_for_select(@airports, params[:to_airport_id]), class:"destination-select", id:"to-airport", include_blank: true)%> <br>

          <%= label_tag(:date, "Date (all flights are on 1st Jan 2017, for test purposes)") %> <br>
          <%= select_date() %> <br>

          <%= submit_tag("Search", class:"search-button") %> <br>

      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class ="col-md-12">

      <%= form_tag(new_booking_path, method: "get") do %>

      <% if @matching_flights && @matching_flights.any? %>
        <div class="book-block">
          <%= label_tag "Number of Passengers: " %>
          <%= select_tag("number_of_passengers", options_for_select([1,2,3,4]))%>
          <%= submit_tag "Book Flight", class: "book-button" %>
       </div>

        <% @matching_flights.each do |flight| %>
        <div class="row">
          <div class="col-md-12 flight-block">
            <div class="row">
              <div class="col-md-6 flight">
                <div>
                  <ul class="flight-content">
                      <li> <h3> <%= flight.from_airport.name %> </h3> </li>
                      <li> <%= image_tag("right.png") %> </li>
                      <li> <h3> <%= flight.to_airport.name %> </h3> </li>
                  </ul>
                </div>
                <div class="flight_duration">
                  <h4> <%= flight.flight_duration.round(2) %>  hours </h4>
                </div>
                <div>
                  <h4> Departs at <%= flight.time.strftime("%T") %>, on <%= flight.date.strftime("%F") %> </h4>
                </div>
              </div>
              <div class="col-md-6 radio-select">
                <%= radio_button_tag(:flight, flight.id, false) %>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <% elsif params[:commit].present? %>
          <div class='alert alert-danger'> No flights on this date! </div>
        <% end %>

    <% end %>
    </div>
  </div>
</div>
