<nav class="navbar navbar-inverse">
  <h1> Book A Flight </h1>
</nav>

<div class="container">
  <div class="row">
    <div class ="col-md-12">

      <%= form_tag("", method: "get")  do %>

          <%= label_tag(:from_airport_id, "from ")%> <br>
          <%= select_tag(:from_airport_id, options_for_select(@airports, params[:from_airport_id]), class:"destination-select", id:"from-airport") %> <br>

          <%= label_tag(:to_airport_id, "to ") %> <br>
          <%= select_tag(:to_airport_id, options_for_select(@airports, params[:to_airport_id]), class:"destination-select", id:"to-airport")%> <br>

          <%= label_tag(:date, "Date (all flights are on 1st Jan 2017, for test purposes)") %> <br>
          <%= select_date() %> <br>

          <%= submit_tag("Search", class:"search-button") %> <br>

      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class ="col-md-12">
      <h2> Search Results </h2>
      <%= form_tag(new_booking_path, method: "get") do %>

      <% if @matching_flights && @matching_flights.any? %>
        <div class="book-block">
          <%= label_tag "Number of Passengers: " %>
          <%= select_tag("number_of_passengers", options_for_select([1,2,3,4]))%>
          <%= submit_tag "Book Flight" %>
       </div>

        <% @matching_flights.each do |flight| %>
          <div class="flight-block">
            <div class="radio-select">
              <p> Select Flight </p>
              <%= radio_button_tag(:flight, flight.id, false) %>
            </div>
            <ul>
              <li> From: <%= flight.from_airport.name %> </li>
              <li> To: <%= flight.to_airport.name %> </li>
              <li> Departure Date: <%= flight.date.strftime("%F") %> </li>
              <li> Departure Time: <%= flight.time.strftime("%T") %> </li>
              <li> Flight Time: <%= flight.flight_duration.round(2) %> </li>
            </ul>
    <!--  <%= hidden_field_tag "selected_flight", flight.id %> -->
          </div>
        <% end %>

        <% else %>
        <div class='alert alert-danger'> No flights on this date! </div>
      <% end %>

    <% end %>
    </div>
  </div>
</div>
