<nav class="navbar navbar-inverse">
  <h1> Book A Flight </h1>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12 flight">
      <h2> Your Flight Details </h2>
      <div>
        <ul class="flight-content">
            <li> <h3> <%= @flight.from_airport.name %> </h3> </li>
            <li> <%= image_tag("right.png") %> </li>
            <li> <h3> <%= @flight.to_airport.name %> </h3> </li>
        </ul>
      </div>
      <div class="flight_duration">
        <h4> <%= @flight.flight_duration.round(2) %>  hours </h4>
      </div>
      <div>
        <h4> Departs at <%= @flight.time.strftime("%T") %>, on <%= @flight.date.strftime("%F") %> </h4>
        <h4> For <%= @number_of_passengers %> passengers </h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for @booking do |booking_form| %>

      <%= booking_form.hidden_field  :flight_id, value: @flight.id %>

        <% @passengers.each_with_index do |passenger, i| %>

          <%= booking_form.fields_for passenger, index: passenger.id do |f| %>
            <%= f.label "#{(i+1).ordinalize.capitalize} Passenger" %>
            <%= f.label "Name: " %>
            <%= f.text_field :name %>

            <%= f.label "Email: " %>
            <%= f.email_field :email %>
          <% end %>
        <br>
      <% end %>
    <%= booking_form.submit "Confirm and Book" %>
  <% end %>
    </div>
  </div>
</div>
