<p> Your Flight Details </p>
<ul>
  <li> From: <%= @flight.from_airport.name %> </li>
  <li> To: <%= @flight.to_airport.name %> </li>
  <li> Departure Date: <%= @flight.date.strftime("%F") %> </li>
  <li> Departure Time: <%= @flight.time.strftime("%T") %> </li>
  <li> Flight Time: <%= @flight.flight_duration.round(2) %> </li>
</ul>

<p> For <%= @number_of_passengers %> passengers </p>



<%= form_for @booking do |booking_form| %>

<%= booking_form.hidden_field  :flight_id, value: @flight.id %>

  <% @passengers.each_with_index do |passenger, i| %>

      <%= booking_form.fields_for passenger, index: passenger.id do |f| %>
        <%= f.label "#{(i+1).ordinalize.capitalize} Passenger" %>
        <%= f.label "Name: " %>
        <%= f.text_field :name %>

        <%= f.label "Email: " %>
        <%= f.text_field :email %>
      <% end %>

        <br>
    <% end %>

  <%= booking_form.submit "Confirm and Book" %>
<% end %>
